.login {
  @apply h-screen  pt-20 flex items-center justify-center relative;
}
.login-img {
  @apply w-full object-cover h-full;
}
.login-bg {
  background: linear-gradient(
    rgb(255, 255, 255) 2.18391%,
    rgba(255, 255, 255, 0) 56.9256%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  @apply dark:bg-gradient-to-b from-slate-900
}
.login-wrap {
  @apply w-2/4 absolute bg-black/30 backdrop-blur-md flex items-center  flex-col p-4;
}
.login-header {
  @apply text-center mb-5 mt-10;
}
.login-header h2 {
  @apply font-bold text-2xl;
}
.login-header span {
  @apply font-bold text-gray-400;
}
.form-wrap {
  @apply w-3/5;
}
.form-wrap form {
  @apply flex flex-col gap-6;
}
.input-wrap {
  @apply relative;
}
.input-wrap input {
  @apply w-full p-4 outline-none rounded-lg;
}
.login-icon {
  @apply absolute right-3 top-3;
}
