.specs-car{
    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply dark:bg-slate-900 bg-zinc-100;
}
.car-img{
    @apply w-full  rounded-lg dark:shadow-3xl
}
.car-info{
    @apply flex flex-col justify-center p-10 h-full items-center md:items-start
}
.car-info-title{
    @apply text-3xl font-bold dark:text-white
}
.car-info-text{
    @apply leading-6 my-5 text-gray-400
}
.car-pb{
    @apply flex items-center justify-between w-full 
}
.car-price{
    @apply font-bold text-[20px] dark:text-gray-400
}
.car-btn{
    @apply bg-blue-500 md:p-4 p-2 rounded-lg text-white dark:shadow-3xl
}