.login {
    @apply h-screen  pt-20 flex items-center flex-col justify-center relative;
  }
  .login-img {
    @apply w-full object-cover h-full;
  }
  .login-bg {
    background: linear-gradient(
      rgb(255, 255, 255) 2.18391%,
      rgba(255, 255, 255, 0) 56.9256%
    );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    @apply dark:bg-gradient-to-b from-slate-900
  }
  .login-wrap {
    @apply md:w-2/4 absolute dark:bg-black/50 bg-gray-400/50 backdrop-blur-md flex items-center rounded-lg  flex-col p-4;
  }
  .login-header {
    @apply text-center mb-5 mt-10 ;
  }
  .login-header h2 {
    @apply font-bold text-2xl text-red-500;
  }
  .login-header span {
    @apply font-bold dark:text-gray-400  text-gray-800;
  }
  .form-wrap {
    @apply md:w-96
  }
  .form-wrap form {
    @apply flex flex-col gap-6;
  }
  .input-wrap {
    @apply relative;
  }
  .input-wrap input {
    @apply w-full p-4 outline-none rounded-lg dark:bg-gray-800 dark:text-white;
  }
  .login-icon {
    @apply absolute right-3 top-3 dark:text-white;
  }
  .login-btn{
      @apply bg-white p-4 rounded-lg font-bold mb-10 dark:bg-gray-800 dark:text-white
  }
  .login-info{
    @apply text-center text-white
  }
  .log-link{
   @apply underline text-blue-300
  }

  .success-input{
    border: 2px solid green;
  }
  .error-input{
    border: 2px solid red;
  }