@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px){
  

}
@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  .topbar-right{
    position: absolute;
    top: 80px;
    right: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
    
  }
  
  .topbar-right.menu-open{
    opacity: 1;
    visibility: visible;
  }
  .topbar-list {
    display: block;
    background-color: var(--white);
    max-width: 500px;
   margin: auto;
   text-align: center;
   border: 2px solid #000;
  }
  .topbar-list li{
    padding: 20px;
  }
  .menu-humburger{
    display: flex;
  }
 
}
@media screen and (max-width: 576px) {

}
@media screen and (max-width:468px){
  
}
@media screen and (max-width:420px){
  
}

@media screen and (max-width:375px){
  
}
@media screen and (max-width:345px){

}
@media screen and (max-width:320px){
 
}
/* 
@media screen and (max-width: 390px) {
  .swiper {
    height: 465px;
  }
}
@media screen and (max-width: 308px) {
  .swiper {
    height: 500pxpx;
  }
} */